---
// Decorative 祥云 (auspicious cloud) divider used between sections.
---

<div class="cloud-divider" aria-hidden="true">
  <svg viewBox="0 0 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M4 16c-2 0-3-1.4-3-3s1.2-3 3-3c.3-2.4 2.4-4 4.8-4 1.8 0 3.4 1 4.2 2.6 1-1 2.4-1.6 4-1.6 3 0 5.4 2.4 5.4 5.4 0 .4 0 .8-.1 1.2 1.6.3 2.7 1.6 2.7 3.2 0 1.8-1.5 3.2-3.3 3.2H4z"
      stroke="currentColor" stroke-width="1.4" stroke-linejoin="round"></path>
  </svg>
</div>
